<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramentoJogo === 'Derrota'; else fimDeJogoVitoria" class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col" >
             <h3 style="color:red">Fim de jogo, infelizmente você perdeu!</h3>
             <button class="btn btn-primary" (click)="iniciarJogo()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #fimDeJogoVitoria>
        <div class="container" style="margin-top: 50px;">
            <div class="row">
                <div class="col" >
                    <h3 style="color:green">Fim de jogo, você ganhou! </h3>
                    <button class="btn btn-primary" (click)="iniciarJogo()">Jogar novamente</button>
                </div>
            </div>
        </div>
</ng-template>